.supergallery {
    >.wrapper {
        column-count: 2;
        column-gap: 0.25rem;
        padding: 0.25rem;
        @media #{$des} {
            column-count: 3;
            column-gap: 1rem;
            padding: 1rem;
        }
        @media #{$des2} {
            column-count: 4;
        }
    }
}

.gallery-item {
    color: white;
    display: block;
    margin: 0 0 0.25rem;
    line-height: 0;
    cursor: ne-resize;
    @media #{$des} {
        margin: 0 0 1rem;
    }
    >.wrapper {
        display: inline-block;
        position: relative;
        width: 100%;
        &:after {
            content: '';
            @include absoStretch;
            background-image: linear-gradient(0deg, rgba($black, 0.35) 0%, rgba($black, 0) 50%);
        }
    }
    .thumb-wrapper {
        >i {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            font-size: 0.8rem;
            padding: 0.25rem;
            opacity: 0.35;
        }
    }
    .item-body {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.5rem;
        z-index: 1;
    }
    h3 {
        font-size: 1rem;
        line-height: 1;
        letter-spacing: 0.0625rem;
    }
}

.supergallery-overlay {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($black, 0.95);
    overflow: hidden;
    z-index: 999;
    max-height: 0;
    &.active {
        max-height: 100vh;
        animation: launchgallery 0.5s cubic-bezier(.33, 0, 0.4, 1) 0s 1;
    }
    >.wrapper {}
}

.overlay-item {
    position: relative;
    width: 100%;
    height: 100vh;
    >.wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
    }
    .item-body {
        width: 100%;
        position: absolute;
        top: 0;
        padding: 0 36px 0 0.5rem;
        background: linear-gradient(to bottom, rgba(black, 0.35) 0%, rgba(black, 0) 100%);
        @media #{$tab} {
            padding: 0 36px 0 1.5rem;
        }
        >.wrapper {
            display: flex;
            align-items: center;
            height: 36px;
        }
        h3 {
            width: 100%;
            margin: 0 0.5rem 0 0;
        }
        h3,
        .cta {
            font-size: 1rem;
        }
        .cta {
            text-transform: uppercase;
            white-space: nowrap;
            border-left: 1px solid rgba($white, 0.25);
            padding: 0 0.5rem;
            >a {
                @include flexcenter;
                gap: 0.25rem;
                >span {
                    color: $white;
                    background: linear-gradient(to right, rgba($ltPink, 1), rgba($ltPink, 1)), linear-gradient(to right, rgba($dkPink, 1), rgba($dkPink, 1));
                    background-size: 100% 2px, 0 2px;
                    background-position: 100% 100%, 0 100%;
                    background-repeat: no-repeat;
                    transition: color 0.25s ease-in-out, background-size 0.25s ease-in-out;
                }
            }
            i,
            i:before {
                border-radius: 999px;
                @include flexcenter;
            }
            i {
                line-height: 0;
                font-size: 0.6rem;
                width: 28px;
                height: 28px;
                color: $exdkPink;
                background-color: $dkPink;
                background-image: linear-gradient(0deg, rgba($ltPink, 0.25), rgba($exltPink, 0.5));
                box-shadow: 0 0 4px rgba($black, 0.8);
            }
            i:before {
                width: 20px;
                height: 20px;
                background-color: $white;
                background-image: linear-gradient(0deg, rgba($ltPink, 0.25), rgba($exltPink, 0.5));
                box-shadow: 1px 1px 2px rgba($black, 0.5), -1px -1px 2px rgba($white, 0.25);
            }
            &:hover,
            &:focus {
                span {
                    color: $dkPink;
                    background-size: 0 2px, 100% 2px;
                }
            }
        }
    }
}

.supergallery-closebtn {
    line-height: 0;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    @include flexcenter;
    >.wrapper,
    i {
        border-radius: 999px;
        @include flexcenter;
        @include controlscolor;
    }
    >.wrapper {
        width: 28px;
        height: 28px;
    }
    i {
        width: 20px;
        height: 20px;
    }
}

.supergallery-overlay-controls {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.controlbtn {
    font-size: 1.25rem;
    color: white;
    position: absolute;
    line-height: 0;
    border-radius: 999px;
    padding: 0.25rem;
    @include controlscolor;
    &.next {
        right: 0;
        border-radius: 999px 0 0 999px;
        padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    }
    &.prev {
        left: 0;
        border-radius: 0 999px 999px 0;
        padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    }
    >.wrapper {
        @include controlscolor;
        box-shadow: 1px 1px 2px rgba($black, 0.25), -1px -1px 2px rgba($white, 0.25);
        border-radius: 999px;
        padding: 4px;
    }
    // &:active {
    //     background-color: rgba(white, 0.5);
    //     border-color: rgba(white, 1);
    //     box-shadow: 0 0 4px white;
    //     >.wrapper {
    //         background-color: rgba(white, 0.5);
    //         border-color: rgba(white, 1);
    //         box-shadow: 0 0 4px white;
    //     }
    // }
}

@keyframes launchgallery {
    0% {
        transform: scale(3);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}