:root {
  --defaultfont: "Yanone Kaffeesatz", sans-serif;
  --defaultfontsize: 1.125rem;
  --defaultfontweight: 300;
  --defaultlineheight: 1.7;
  --headingfontweight: 400;
  --shh: 4.125rem;
  --headerbtnsize: 3.125rem;
  --headerbtniconsize: 1.25rem;
  --headerbtncolor: #fef8fb;
  --menbtnstrokewidth: 2px;
  --socbtncolor: #fef8fb;
  --thAs: 100%;
  --maxw: 64rem;
}

* {
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
*:before, *:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

body {
  position: relative;
}

img,
svg,
picture {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  cursor: pointer;
}

input,
textarea {
  width: 100%;
}

input[type=submit], input[type=checkbox] {
  width: auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.offscreen {
  position: absolute;
  left: -100vw;
}

body {
  opacity: 1 !important;
}

.site-wrapper {
  min-height: 100vh;
  background-color: white;
  filter: blur(0);
  transition: transform 0.5s cubic-bezier(0.33, 0, 0.4, 1), filter 0.5s cubic-bezier(0.33, 0, 0.4, 1);
}
.showgal .site-wrapper {
  transform: scale(0.75);
  filter: blur(1rem);
}

.grecaptcha-badge {
  transform: scale(0);
}

body {
  font-family: var(--defaultfont);
  font-size: var(--defaultfontsize);
  font-weight: var(--defaultfontweight);
  line-height: var(--defaultlineheight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--headingfontweight);
}

.the-content p {
  margin: 0 0 2rem 0;
}
.the-content p:last-child {
  margin: 0;
}

.the-content p a {
  font-weight: 600;
  background: linear-gradient(to right, #ff77bc, #ff77bc), linear-gradient(to right, #ff0081, #ff0081);
  background-size: 100% 4px, 0 4px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.25s ease-in-out;
}
.the-content p a:hover, .the-content p a:focus {
  background-size: 0 4px, 100% 4px;
}

.social {
  width: var(--headerbtnsize);
  height: 100%;
  position: relative;
}

.socialbtns-container {
  position: absolute;
}

.social-expander {
  font-size: 1.25rem;
  color: var(--menbtnstrokecolor);
}
.social-expander i {
  transform: rotate(0);
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.51, 1.36);
}
.active .social-expander {
  background: linear-gradient(135deg, rgba(5, 5, 5, 0.25), rgba(254, 248, 251, 0.25));
}
.active .social-expander i {
  transform: rotate(90deg);
}

.socialbtns {
  font-size: 1rem;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%);
  max-height: 0;
  padding: calc(var(--headerbtnsize) + 5px) 0.25rem 0.25rem;
  background-color: #fef8fb;
  background-image: linear-gradient(0deg, #ffaed7, #ffcae5);
  border-radius: 999px;
  opacity: 0;
  box-shadow: 0 0 0 rgba(127, 0, 63, 0);
  overflow: hidden;
  transition: max-height 0.35s cubic-bezier(0.31, 0, 0.5, 1), opacity 0.35s cubic-bezier(0.31, 0, 0.5, 1), box-shadow 0.35s cubic-bezier(0.31, 0, 0.5, 1);
}
.active .socialbtns {
  max-height: 100vh;
  box-shadow: 0 2px 4px rgba(127, 0, 63, 0.5);
  opacity: 1;
}

.socialbtn {
  display: block;
  margin: 0.25rem 0 0 0;
}

@media (min-width:768px) {
  .social {
    width: auto;
    order: 2;
  }

  .social-expander {
    display: none;
  }

  .socialbtns,
.socialbtns-container {
    position: initial;
  }

  .socialbtns {
    display: flex;
    max-height: initial;
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateX(0);
    padding: 0;
    background-color: transparent;
    background-image: none;
    overflow: visible;
  }
  .active .socialbtns {
    max-height: initial;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
  }

  .socialbtn {
    margin: 0 0 0 0.5rem;
    background-image: linear-gradient(-45deg, rgba(127, 0, 63, 0), rgba(254, 248, 251, 0));
    box-shadow: 1px 1px 2px rgba(127, 0, 63, 0), -1px -1px 2px rgba(254, 248, 251, 0);
    transition: background-image 1s ease-out, box-shadow 0.25s ease-out;
  }
  .socialbtn:hover {
    background-image: linear-gradient(-45deg, rgba(127, 0, 63, 0.35), rgba(254, 248, 251, 0.75));
    box-shadow: 1px 1px 2px rgba(127, 0, 63, 0.5), -1px -1px 2px #fef8fb;
  }
  .socialbtn:active {
    background-image: linear-gradient(135deg, rgba(5, 5, 5, 0.25), rgba(254, 248, 251, 0.25));
    box-shadow: 1px 1px 2px rgba(127, 0, 63, 0.15), -1px -1px 2px rgba(254, 248, 251, 0.25);
  }
}
.site-logo {
  width: 100%;
  max-width: 14rem;
  max-height: var(--shh);
}
.site-logo > a {
  width: 100%;
  display: inline-block;
}

.active .menbtn {
  background: linear-gradient(135deg, rgba(5, 5, 5, 0.25), rgba(254, 248, 251, 0.25));
}

.menimg .top {
  stroke-dasharray: 40 172;
}
.menimg .middle {
  stroke-dasharray: 40 111;
}
.menimg .bottom {
  stroke-dasharray: 40 172;
}
.menimg .line {
  fill: none;
  transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s;
  stroke: var(--headerbtncolor);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.active .menimg .top {
  stroke-dashoffset: -132px;
}
.active .menimg .middle {
  stroke-dashoffset: -71px;
}
.active .menimg .bottom {
  stroke-dashoffset: -132px;
}

.menu {
  color: #fef8fb;
  line-height: 1;
  font-weight: 700;
  width: 100%;
  height: 100%;
}

.menuitems {
  width: 100%;
  position: absolute;
  top: var(--shh);
  left: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  background-color: #fef8fb;
  background-image: linear-gradient(0deg, #ffaed7, #ffcae5);
  box-shadow: 0px 4px 4px rgba(127, 0, 63, 0);
  transition: max-height 0.35s cubic-bezier(0.31, 0, 0.5, 1), opacity 0.35s cubic-bezier(0.31, 0, 0.5, 1), box-shadow 0.35s cubic-bezier(0.31, 0, 0.5, 1);
}
.menuitems:before {
  content: "";
  width: 58px;
  height: 62px;
  position: absolute;
  top: calc(0px - var(--shh));
  transform: translate(4px, 4px);
  border-radius: 999px 999px 0 0;
  background-color: #fef8fb;
  background-image: linear-gradient(180deg, #ffaed7, #ffcae5);
  box-shadow: 0px 0px 4px rgba(127, 0, 63, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.31, 0, 0.5, 1);
}
.active .menuitems:before {
  opacity: 1;
}
.active .menuitems {
  max-height: 100vh;
  overflow: visible;
  opacity: 1;
  box-shadow: 0px 4px 4px rgba(127, 0, 63, 0.5);
}

.main_menu {
  font-size: 1.25rem;
}
.main_menu > .menu-item {
  border-bottom: 1px solid rgba(127, 0, 63, 0.1);
  background-image: linear-gradient(to bottom, rgba(254, 248, 251, 0) 0%, rgba(254, 248, 251, 0) 80%, rgba(254, 248, 251, 0.25) 100%);
}
.main_menu > .menu-item:last-child {
  border-bottom: 0px none;
}
.main_menu > .menu-item > a {
  width: 100%;
  display: block;
  padding: 1rem;
}

@media (min-width:1024px) {
  .menu {
    width: auto;
    height: auto;
  }

  .menbtn {
    display: none;
  }

  .menuitems {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    position: initial;
    top: auto;
    left: auto;
    max-height: initial;
    overflow: visible;
    opacity: 1;
  }
  .menuitems:before {
    display: none;
  }
  .active .menuitems {
    box-shadow: none;
  }

  .main_menu {
    display: flex;
    gap: 2rem;
  }
  .main_menu > .menu-item {
    border-bottom: none;
    background-image: none;
  }
  .main_menu > .menu-item > a {
    width: auto;
    display: inline-block;
    position: relative;
    padding: 0;
    letter-spacing: 0.0625rem;
    transition: color 0.25s ease-in-out;
  }
  .main_menu > .menu-item > a:after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 999px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fef8fb;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    z-index: -1;
  }
  .main_menu > .menu-item > a:hover {
    color: #ff0081;
  }
  .main_menu > .menu-item > a:hover:after {
    transform: scaleX(1);
  }
  .main_menu > .menu-item > a:active {
    color: #7F003F;
  }
}
.thumb-wrapper {
  position: relative;
}

picture {
  display: inline-block;
}

.thumb {
  position: relative;
  line-height: 0;
}
.thumb > .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.thumb img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.supergallery-overlay .thumb img {
  max-height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.thumb.gallery-thumb {
  width: 100%;
  height: 100vh;
}
.thumb.gallery-thumb > .wrapper {
  display: flex;
}
.thumb.has-sizer:before {
  content: "";
  width: 100%;
  display: inline-block;
  padding-bottom: var(--thAs);
}

.siteheader {
  line-height: 0;
  width: 100%;
  height: var(--shh);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 111;
  padding: 0.5rem;
  background-color: #fef8fb;
  background-image: linear-gradient(0deg, #ffaed7, #ffcae5);
  box-shadow: 0 0 1px #ff0081;
  transform: translateY(0);
  transition: transform 0.5s ease-in;
  display: grid;
  align-content: center;
}
.siteheader > .grid {
  grid-template-columns: auto 1fr auto;
  grid-gap: 1.25rem;
  align-items: center;
}
.goingdown .siteheader {
  transform: translateY(-100px);
}
.goingdown.showmen .siteheader {
  transform: translateY(0);
}
@media (min-width:1024px) {
  .siteheader > .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .siteheader .site-logo {
    justify-self: center;
  }
  .siteheader .menu {
    justify-self: end;
  }
}
@media (min-width:1366px) {
  .siteheader > .grid {
    grid-gap: 1rem;
  }
}

.headerbtn {
  color: var(--headerbtncolor);
  line-height: 1;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(-45deg, rgba(127, 0, 63, 0.1), rgba(254, 248, 251, 0.1));
  box-shadow: 1px 1px 2px rgba(127, 0, 63, 0.15), -1px -1px 2px rgba(254, 248, 251, 0.25);
  border-radius: 999px;
}
.headerbtn > .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--headerbtnsize);
  height: var(--headerbtnsize);
  padding: 0.5rem;
}
.headerbtn.active {
  background: linear-gradient(135deg, rgba(5, 5, 5, 0.25), rgba(254, 248, 251, 0.25));
}
@media (min-width:1024px) {
  .headerbtn {
    background-image: linear-gradient(-45deg, rgba(127, 0, 63, 0), rgba(254, 248, 251, 0));
    box-shadow: 1px 1px 2px rgba(127, 0, 63, 0), -1px -1px 2px rgba(254, 248, 251, 0);
  }
}

.site-footer {
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  background-color: #fef8fb;
  background-image: linear-gradient(0deg, #ffaed7, #ffcae5);
  box-shadow: 0 0 1px #ff0081;
  padding: 2rem;
}
.site-footer > .wrapper {
  justify-content: center;
  align-content: center;
}

.site-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-height: 100vh;
  z-index: -1;
}

.supergallery > .wrapper {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 1rem;
}
@media (min-width:1024px) {
  .supergallery > .wrapper {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media (min-width:1024px) {
  .supergallery > .wrapper {
    -moz-column-count: 4;
         column-count: 4;
  }
}

.gallery-item {
  color: white;
  display: block;
  margin: 0 0 1rem;
  line-height: 0;
  cursor: ne-resize;
}
.gallery-item > .wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}
.gallery-item > .wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(0deg, rgba(5, 5, 5, 0.35) 0%, rgba(5, 5, 5, 0) 50%);
}
.gallery-item .thumb-wrapper > i {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 0.8rem;
  padding: 0.25rem;
  opacity: 0.35;
}
.gallery-item .item-body {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  z-index: 1;
}
.gallery-item h3 {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.0625rem;
}

.supergallery-overlay {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(5, 5, 5, 0.95);
  overflow: hidden;
  z-index: 999;
  max-height: 0;
}
.supergallery-overlay.active {
  max-height: 100vh;
  -webkit-animation: launchgallery 0.5s cubic-bezier(0.33, 0, 0.4, 1) 0s 1;
          animation: launchgallery 0.5s cubic-bezier(0.33, 0, 0.4, 1) 0s 1;
}
.overlay-item {
  position: relative;
  width: 100%;
  height: 100vh;
}
.overlay-item > .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}
.overlay-item .item-body {
  line-height: 1;
  position: absolute;
  top: 0;
  padding: 0.5rem 0 0 0;
}
.overlay-item .item-body > .wrapper {
  display: flex;
  align-items: center;
}
.overlay-item h3 {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: rgba(254, 248, 251, 0.35);
  background-image: linear-gradient(-45deg, rgba(5, 5, 5, 0.1), rgba(254, 248, 251, 0.1));
  box-shadow: 1px 1px 2px rgba(5, 5, 5, 0.25);
}
.overlay-item .cta {
  text-transform: uppercase;
  font-size: 1rem;
}
.overlay-item .cta > a {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
  background-color: rgba(254, 248, 251, 0.35);
  background-image: linear-gradient(-45deg, rgba(5, 5, 5, 0.1), rgba(254, 248, 251, 0.1));
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  border-radius: 0 999px 999px 0;
  box-shadow: 1px 1px 2px rgba(5, 5, 5, 0.25);
}
.overlay-item .cta i {
  font-size: 0.8rem;
  background-color: #fef8fb;
  background-image: linear-gradient(0deg, #ffaed7, #ffcae5);
  padding: 0.5rem;
  border-radius: 999px;
  box-shadow: 1px 1px 2px rgba(5, 5, 5, 0.5), -1px -1px 2px rgba(254, 248, 251, 0.25);
  text-shadow: 1px 1px 2px #7f003f;
}

.supergallery-overlay-controls {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.controlbtn {
  font-size: 1.25rem;
  color: white;
  position: absolute;
  line-height: 0;
  border-radius: 999px;
  padding: 0.25rem;
  background-color: rgba(254, 248, 251, 0.35);
  background-image: linear-gradient(-45deg, rgba(5, 5, 5, 0.1), rgba(254, 248, 251, 0.1));
}
.controlbtn.next {
  right: 0;
  border-radius: 999px 0 0 999px;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}
.controlbtn.prev {
  left: 0;
  border-radius: 0 999px 999px 0;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}
.controlbtn.closebtn {
  top: 0.5rem;
  right: 0.5rem;
}
.controlbtn > .wrapper {
  background-color: rgba(254, 248, 251, 0.35);
  background-image: linear-gradient(-45deg, rgba(5, 5, 5, 0.1), rgba(254, 248, 251, 0.1));
  box-shadow: 1px 1px 2px rgba(5, 5, 5, 0.25), -1px -1px 2px rgba(254, 248, 251, 0.25);
  border-radius: 999px;
  padding: 4px;
}

@-webkit-keyframes launchgallery {
  0% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes launchgallery {
  0% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.postsection {
  padding: 4rem 1rem 5rem;
}
.postsection > .wrapper {
  max-width: var(--maxw);
  margin: auto;
}
.postsection .grid {
  grid-gap: 1rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 3rem;
  text-align: center;
}
.section-title h2 {
  color: #ff0081;
  position: relative;
  display: inline-block;
}
.section-title h2:after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 999px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fef8fb;
  transition: transform 0.25s ease-in-out;
}

.aboutsection {
  background-color: #ffaed7;
  color: white;
}
.aboutsection:nth-of-type(even) {
  background-color: #ff77bc;
}
@media (min-width:1024px) {
  .aboutsection .grid {
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
  }
  .aboutsection:nth-of-type(even) .grid {
    grid-template-columns: 2fr 1fr;
  }
  .aboutsection:nth-of-type(even) .grid .thumb-wrapper {
    order: 2;
  }
  .aboutsection .thumb-wrapper > .wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.appearancesections {
  background-color: #fef8fb;
  background-image: linear-gradient(0deg, #ffaed7, #ffcae5);
  padding: 4rem 1rem 5rem;
}
.appearancesections > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width:768px) {
  .appearancesections > .wrapper {
    gap: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.appearance {
  font-size: 1.25rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0;
}
.appearance > .wrapper {
  padding: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  background-color: rgba(254, 248, 251, 0.25);
  box-shadow: 1px 1px 2px rgba(127, 0, 63, 0.15), -1px -1px 2px rgba(254, 248, 251, 0.5);
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
.appearance > .wrapper:hover {
  background-color: rgba(254, 248, 251, 0.5);
  box-shadow: 1px 1px 4px rgba(127, 0, 63, 0.15), -1px -1px 2px rgba(254, 248, 251, 0.5);
}
.appearance .thumb {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}
.appearance .the-content {
  padding: 1rem;
}
@media (min-width:768px) {
  .appearance {
    padding: 1rem;
    flex: 0 0 50%;
  }
}
@media (min-width:1366px) {
  .appearance {
    flex: 0 0 33.33333%;
  }
}
@media (min-width:1366px) {
  .appearance {
    flex: 0 0 25%;
  }
}

.appearancetitle {
  font-size: 2rem;
  line-height: 1;
  color: #ff0081;
  letter-spacing: 0.0625rem;
  margin: 0.5rem 0 1rem 0;
}

.appearancedate {
  color: #ff0081;
}

.appearancelink {
  line-height: 1;
  font-size: 1.35rem;
  font-weight: 700;
  color: #fef8fb;
  background-color: #ff77bc;
  text-transform: uppercase;
  background-image: linear-gradient(0deg, rgba(127, 0, 63, 0.1), rgba(254, 248, 251, 0.25));
  box-shadow: 1px 1px 4px rgba(127, 0, 63, 0.15), -1px -1px 1px rgba(254, 248, 251, 0.25);
  border-radius: 999px;
  padding: 0.75rem 1rem 0.5rem 1rem;
  transition: background-color 1s ease-out, box-shadow 0.25s ease-out;
}
.appearancelink:hover {
  background-color: #ff0081;
  background-image: linear-gradient(0deg, rgba(255, 119, 188, 0.35), rgba(254, 248, 251, 0.5));
  box-shadow: 1px 1px 6px rgba(127, 0, 63, 0.5), -1px -1px 2px rgba(254, 248, 251, 0.5);
}
.appearancelink:active {
  background-image: linear-gradient(135deg, rgba(5, 5, 5, 0.25), rgba(254, 248, 251, 0.25));
  box-shadow: 1px 1px 2px rgba(127, 0, 63, 0.15), -1px -1px 2px rgba(254, 248, 251, 0.25);
}

.wpcf7 {
  background-color: #fef8fb;
  background-image: linear-gradient(0deg, #ffaed7, #ffcae5);
  padding: 4rem 1rem;
  color: #fef8fb;
}
.wpcf7 .wpcf7-form {
  max-width: var(--maxw);
  margin: auto;
}
.wpcf7 input,
.wpcf7 textarea {
  color: #ff0081;
  font-size: var(--defaultfontsize);
  border-radius: 0.5rem;
  background-color: #fef8fb;
  box-shadow: inset 0 0 2px #ff0081, 1px 1px 4px rgba(127, 0, 63, 0.15), -1px -1px 1px rgba(254, 248, 251, 0.25);
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
}
.wpcf7 input.wpcf7-not-valid,
.wpcf7 textarea.wpcf7-not-valid {
  margin: 0;
}
.wpcf7 input:focus,
.wpcf7 textarea:focus {
  outline: none;
  border: 1px solid #ff0081;
  box-shadow: inset 0 0 2px #ff0081, 2px 2px 4px rgba(127, 0, 63, 0.15), -2px -2px 2px rgba(254, 248, 251, 0.25);
}
.wpcf7 .wpcf7-not-valid-tip {
  color: #7F003F;
  margin: 0 0 1rem 1rem;
}
.wpcf7 .req {
  color: #7F003F;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border: 0px none;
  background-color: #ff0081;
}/*# sourceMappingURL=sitestyles.css.map */